{% extends 'base.html.twig' %}

{% block title %}Signature{% endblock %}

{% block body %}
    <h1>Signature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signature.id }}</td>
            </tr>
            <tr>
                <th>CiviliteProviseur</th>
                <td>{{ signature.civiliteProviseur }}</td>
            </tr>
            <tr>
                <th>NomProviseur</th>
                <td>{{ signature.nomProviseur }}</td>
            </tr>
            <tr>
                <th>PrenomProviseur</th>
                <td>{{ signature.prenomProviseur }}</td>
            </tr>
            <tr>
                <th>EmailProviseur</th>
                <td>{{ signature.emailProviseur }}</td>
            </tr>
            <tr>
                <th>CiviliteDDF</th>
                <td>{{ signature.civiliteDDF }}</td>
            </tr>
            <tr>
                <th>NomDDF</th>
                <td>{{ signature.nomDDF }}</td>
            </tr>
            <tr>
                <th>PrenomDDF</th>
                <td>{{ signature.prenomDDF }}</td>
            </tr>
            <tr>
                <th>EmailDDF</th>
                <td>{{ signature.emailDDF }}</td>
            </tr>
            <tr>
                <th>TelDDF</th>
                <td>{{ signature.telDDF }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_signature_index') }}">back to list</a>

    <a href="{{ path('app_signature_edit', {'id': signature.id}) }}">edit</a>

    {{ include('signature/_delete_form.html.twig') }}
{% endblock %}
