{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ formation.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ formation.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <div class="actions">
        <a href="{{ path('app_formation_index') }}">Retours à la liste</a>

        <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">Modifier</a>

        {{ include('formation/_delete_form.html.twig') }}
    </div>


{% endblock %}
