<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
</head>
<body class="email-body">
    <div class="email-container">
        <div class="email-header-info">
            <h1>{{ 'email.collection_request_title'|trans({}, 'messages', locale) }}</h1>
        </div>

        <div class="email-content-info">
            <p>{{ 'email.collection_greeting'|trans({}, 'messages', locale) }}</p>

            <p>{{ 'email.collection_message'|trans({'%student%': student.firstName ~ ' ' ~ student.lastName}, 'messages', locale) }}</p>

            <div style="text-align: center;">
                <a href="{{ url }}" class="email-button-success">{{ 'email.collection_button'|trans({}, 'messages', locale) }}</a>
            </div>

            <div class="email-info-box-warning">
                <strong>{{ 'email.important'|trans({}, 'messages', locale) }}</strong><br>
                {{ 'email.collection_expiration'|trans({'%date%': expiresAt|date('d/m/Y')}, 'messages', locale) }}
            </div>

            <p>{{ 'email.collection_help'|trans({}, 'messages', locale) }}</p>

            <div class="email-footer-info">
                <p>{{ 'email.footer'|trans({}, 'messages', locale) }}</p>
            </div>
        </div>
    </div>
</body>
</html>
