{% extends 'base.html.twig' %}

{% block title %}{{ 'company_info.' ~ error|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="error-box">
            <div class="error-icon">✗</div>

            <h1>{{ 'company_info.' ~ error|trans }}</h1>

            <div class="message">
                {% if error == 'error_expired' %}
                    {{ 'company_info.error_expired'|trans }}
                {% elseif error == 'error_completed' %}
                    {{ 'company_info.error_completed'|trans }}
                {% else %}
                    {{ 'company_info.error_invalid'|trans }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
